*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/Quote_generator/open-book-1428428_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.main-content{
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: wheat;
    padding: 20px;
    width: 80%;
    padding: 50px;
    margin: 20px auto;
}

#new-quote
{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-top: 20px;
}
#new-quote:hover
{
    cursor: pointer;

}
.quote
{
    line-height: 30px;
}
.person
{
    text-decoration: cadetblue;
    text-transform:uppercase;
    margin-top: 10px;
    color: green;
    letter-spacing: 0.4rem;
}
.header{
    margin-bottom: 20px;
}

.button-area button:active{
    background-color: lightblue;
}